<div class="mt-5 mx-5">
    <div class="drop-zone position-relative w-100 mb-4">
        <label for="file-input" class="form-label position-absolute top-50 start-50 translate-middle">Drop Your Files Here</label>
        <input type="file" multiple class="w-100 h-100 opacity-0" (change)="onChange($event.target)" id="file-input">
    </div>
    <div *ngFor="let file of this.readFiles">
        {{ file.hash }}
    </div>
    <button type="button" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</div>