.postView {
    margin: 5px;
    flex-direction: column;
}

.icon {
    height: 1rem;
    width: 1rem;
}

.icon-div {
    align-items: center;
}

.hidden {
    display: none;
}

.post-content {
    flex-direction: column;
    max-width: 32rem;
}

.attribute {
    flex-basis: 20%;
    min-width: 20%;
}