<fieldset class="d-flex new-post-input">
    <legend>Add New Post</legend>
    <div class="d-flex w-100 inp-div">
        <label for="userid">User Id: </label>
        <input type="number" name="userid" #userid placeholder="Enter UserId">
    </div>
    <div class="d-flex w-100 inp-div">
        <label for="pid">Id: </label>
        <input type="number" name="pid" #pid placeholder="Enter PostId">
    </div>
    <div class="d-flex w-100 inp-div">
        <label for="ptitle">Title: </label>
        <input type="text" name="ptitle" #ptitle placeholder="Enter post title">
    </div>
    <div class="d-flex w-100 inp-div">
        <label for="pbody">Body: </label>
        <input type="text" name="pbody" #pbody placeholder="Enter post body">
    </div>
    <div class="add-button-div inp-div">
        <button (click)="addPost(userid.value, pid.value, ptitle.value, pbody.value)">Add</button>
    </div>
</fieldset>
<div class="post-table-div">
    <span class="selectedPost">{{this.selectedPostTitle}}</span>
    <table class="posts-table">
        <thead appCustomDirective>
            <th>Id</th>
            <th>UserId</th>
            <th>Title</th>
            <th>Body</th>
        </thead>
        <tbody>
            <tr class="PostItem" *ngFor="let post of this.allPosts; let i = index; trackBy:postById" appHighlightOnHover (click)="selectPost(i)">
                <td>{{ post.id }}</td>
                <td>{{ post.userId }}</td>
                <td>{{ post.title | firstCapital }}</td>
                <td>{{ post.body }}</td>
            </tr>
        </tbody>
    </table>
</div>