<form class="form employee-form" [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
    <div class="main-content-title">
        Employee Details
    </div>
    <div class="d-flex flex-column input-div">
        <label for="name">Name: </label>
        <input class="flex-grow-1 input-field" type="text" formControlName="name" id="name">
    </div>
    <div *ngIf="getControl('name')?.touched || this.submitted || getControl('name')?.dirty">
        <div class="err-div" *ngIf="getControl('name')?.errors?.['required']">
            This Field is Required
        </div>
    </div>
    <div class="d-flex flex-column input-div">
        <label for="age">Age: </label>
        <input class="flex-grow-1 input-field" type="number" formControlName="age" id="age">
    </div>
    <div *ngIf="getControl('age')?.touched || this.submitted || getControl('age')?.dirty">
        <div class="err-div" *ngIf="getControl('age')?.errors?.['required']">
            This Field is Required
        </div>
    </div>
    <div class="d-flex flex-column input-div">
        <label for="gender">Gender: </label>
        <div class="input-div">
            <input type="radio" formControlName="gender" id="male" value="0">
            <label for="male">Male</label>
        </div>
        <div class="input-div">
            <input type="radio" formControlName="gender" id="female" value="1">
            <label for="female">Female</label>
        </div>
    </div>
    <div class="d-flex justify-content-evenly">
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
        <button class="btn btn-primary" type="button" routerLink="/crud-without-server/emplist">Return To List</button>
    </div>
</form>