@font-face {
  font-family: 'app';
  src:  url('fonts/app.eot?mas208');
  src:  url('fonts/app.eot?mas208#iefix') format('embedded-opentype'),
    url('fonts/app.ttf?mas208') format('truetype'),
    url('fonts/app.woff?mas208') format('woff'),
    url('fonts/app.svg?mas208#app') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e907";
}
.icon-tools:before {
  content: "\e900";
}
.icon-sync:before {
  content: "\e902";
}
.icon-write:before {
  content: "\e906";
}
.icon-react:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e905";
}
.icon-database:before {
  content: "\e904";
}
.icon-git-pull-request:before {
  content: "\e901";
}
.icon-log-out:before {
  content: "\e908";
}
.icon-file-text2:before {
  content: "\e926";
}
