// All the SCSS Variables goes here
$primary-color: map-get($map: $theme-colors, $key: "primary");
$danger-color: map-get($map: $theme-colors, $key: "danger");
$border-color: map-get($map: $theme-colors, $key: "border");
$light-text: map-get($map: $theme-colors, $key: "gray");