.employee-list-vew {
    margin: 0 auto;
}

.head {
    padding-top: 2rem;
    justify-content: space-evenly;
    input {
        font-size: 1rem;
        width: 70%;
        padding: 5px 10px;
        outline: none;
    }

    .btn-add {
        font-size: 1rem;
        padding: 0 4rem;
        margin: 0;
        background-color: #277DA1;
    }
}

.btn {
    margin-top: 2px;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border: none;
    color: white;
    border-radius: 0.25rem;
}

.btn-edit {
    background-color: #277DA1;
}

.btn-delete {
    background-color: #C40102;
    margin-left: 8px;
}

.employees-table {
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;

    thead {
        background-color: #2C7DA0;
        color: #FFFFFF;
    }

    tbody {
        font-size: 1.125rem;
        tr {
            background-color: #F2F2F2;
            td:nth-child(2n-1) {
                background-color: #E2E2E2;
            }
        }
    }

    thead {
        font-size: 1.25rem;
    }

    .table-cell {
        padding: 0.5rem;
    }
}
