<div class="employee-list-view w-100">
    <div class="title-emp-list">
        Employees
    </div>
    <div class="d-flex justify-content-between head">
        <div class="d-flex">
            <span class="icon icon-search d-flex align-items-center search-icon-field"></span>
            <input class="input-field" type="search" [(ngModel)]='searchString' placeholder="Search for an employee">
        </div>
        <button class="btn btn-primary" routerLink="/crud-operation/add">+ Add new employee</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="table-cell">
                </th>
                <th class="table-cell">
                    #
                </th>
                <th class="table-cell">
                    Name
                </th>
                <th class="table-cell">
                    Email Id
                </th>
                <th class="table-cell">
                    Mobile
                </th>
                <th class="table-cell">
                    Gender
                </th>
                <th class="table-cell">
                    Employment Date
                </th>
                <th class="table-cell">
                    Department
                </th>
                <th class="table-cell">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let employee of this.employeeData | searchFromArrayOn: 'fname' : this.searchString; let i = index; trackBy:empTrack">
                <td class="table-cell">
                    <a class="edit-employee-link" (click)="editEmp(employee)"><span class="icon icon-write"></span></a>
                </td>
                <td class="table-cell">
                    {{ employee.id }}
                </td>
                <td class="table-cell">
                    {{ employee.fname + ' ' + employee.lname }}
                </td>
                <td class="table-cell">
                    {{ employee.emailId }}
                </td>
                <td class="table-cell">
                    {{ employee.mobile }}
                </td>
                <td class="table-cell">
                    {{ employee.gender }}
                </td>
                <td class="table-cell">
                    {{ employee.empdate }}
                </td>
                <td class="table-cell">
                    {{ employee.dept | mapDept: departmentOptions }}
                </td>
                <td class="table-cell">
                    <a class="delete-employee-link" (click)="deleteEmp(employee.id)"><span class="icon icon-delete"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>