<div class="employee-list-view w-100">
    <div class="d-flex align-items-center main-content-title header-height">
        <h4 class="title-text">Employees</h4>
    </div>
    <div class="d-flex justify-content-between head">
        <div class="d-flex flex-grow-1">
            <label class="icon icon-search d-flex align-items-center search-icon-field" for="search-input"></label>
            <input class="input-field" type="search" id="search-input" [(ngModel)]='searchString'
                placeholder="Search for an employee">
        </div>
    </div>
    <div class="d-flex overflow-auto w-100 mb-3" [ngClass]="{'flex-grow-1':!this.details?.length}">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-cell">
                    </th>
                    <th class="table-cell">
                        <div class="d-flex align-items-center">
                            #
                        </div>
                    </th>
                    <th class="table-cell">
                        <div class="d-flex align-items-center">
                            Name
                        </div>
                    </th>
                    <th class="table-cell">
                        <div class="d-flex align-items-center">
                            Age
                        </div>
                    </th>
                    <th class="table-cell">
                        <div class="d-flex align-items-center">
                            Gender
                        </div>
                    </th>
                    <th class="table-cell">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of this.details; let i = index; trackBy:detailTrack">
                    <td class="table-cell">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" name="" id="">
                        </div>
                    </td>
                    <td class="table-cell">
                        <div class="d-flex align-items-center">
                            {{ detail.id }}
                        </div>

                    </td>
                    <td class="table-cell">
                        <div class="d-flex align-items-center">
                            {{ detail.name }}
                        </div>
                    </td>
                    <td class="table-cell">
                        <div class="d-flex align-items-center">
                            {{ detail.age }}
                        </div>
                    </td>
                    <td class="table-cell">
                        <div class="d-flex align-items-center">
                            {{ detail.gender | mapGender: this.genderOptions }}
                        </div>
                    </td>
                    <td class="table-cell">
                        <div class="d-flex align-items-center">
                            <a class="edit-employee-link" (click)="editDetail(detail)"><span
                                    class="icon icon-write"></span></a>
                            <a class="delete-employee-link" (click)="deleteDetail(detail.id)"><span
                                    class="icon icon-delete"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>