<div class="resume-container" *ngIf="this.resumeInfo">
    <header>
        <table class="header-table">
            <tr>
                <th class="header-cell-1">
                    <h1 class="name">
                        {{ this.resumeInfo.name }}
                    </h1>
                    <span class="designation">
                        <em>{{ this.resumeInfo.designation }}</em>
                    </span>
                </th>
                <th class="header-cell-2">
                    <div>
                        <button>Download PDF</button>
                    </div>
                    <a href="mailto:{{ this.resumeInfo.email }}" class="email-link">{{ this.resumeInfo.email }}</a>
                    <span style="display: block;">{{ this.resumeInfo.mobileNo }}</span>
                </th>
            </tr>
        </table>
    </header>
    <main style="padding-top: 15px;">
        <table>
            <tr class="border-bottom">
                <td class="padding" style="width: 20%;">
                    <em>Profile</em>
                </td>
                <td class="padding">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, exercitationem quia soluta dolore incidunt consectetur velit, rem pariatur alias sit doloribus rerum corporis vero consequuntur.
                </td>
            </tr>
            <tr class="border-bottom">
                <td class="padding" style="width: 20%;">
                    <em>Skills</em>
                </td>
                <td class="padding">
                    <table>
                        <tr>
                            <td style="width: 33.33%;">
                                <div style="font-size: large;">
                                    <strong>
                                        Web Design
                                    </strong>
                                </div>
                                <div style="padding: 5px 0px;">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quos labore ullam
                                </div>
                            </td>
                            <td>
                                <div style="font-size: large;">
                                    <strong>
                                        Interface Design
                                    </strong>
                                </div>
                                <div style="padding: 5px 0px;">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quos labore ullam
                                </div>
                            </td>
                            <td>
                                <div style="font-size: large;">
                                    <strong>
                                        Project Direction
                                    </strong>
                                </div>
                                <div style="padding: 5px 0px;">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quos labore ullam
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="border-bottom">
                <td class="padding" style="width: 20%;">
                    <em>Technical</em>
                </td>
                <td class="padding">
                    <div class="d-flex flex-wrap w-100">
                        <div class="technical-item border-bottom" *ngFor="let technical of this.resumeInfo.technical">
                            {{ technical }}
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="border-bottom">
                <td class="padding" style="width: 20%;">
                    <em>Experience</em>
                </td>
                <td class="padding">
                    <table class="experience-table">
                        <tr class="border-bottom" *ngFor="let experience of this.resumeInfo.experience">
                            <td>
                                <div class="d-flex experience-table-item w-100">
                                    <div class="flex-grow-1">
                                        <div>
                                            <strong>
                                                {{ experience.companyName }}
                                            </strong>
                                        </div>
                                        <div>{{ experience.jobRole }}</div>
                                        <div class="experience-desc">{{ experience.jobDescription }}</div>
                                    </div>
                                    <div style="width: 13%;">
                                        {{ experience.startYear }}-{{ experience.endYear }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="border-bottom">
                <td class="padding" style="width: 20%;">
                    <em>Education</em>
                </td>
                <td class="padding" *ngFor="let edu of this.resumeInfo.education">
                    <div style="font-size: large;">
                        <strong>
                            {{ edu.uniName }}
                        </strong>
                    </div>
                    <div>{{ edu.degree }} - {{ edu.grade }} GPA</div>
                </td>
            </tr>
        </table>
    </main>
    <footer class="footer text-center">
        {{ this.resumeInfo.name }} - <a href="mailto:{{ this.resumeInfo.email }}" class="email-link">{{ this.resumeInfo.email }}</a> - {{ this.resumeInfo.mobileNo }}
    </footer>
</div>