<aside class="d-flex flex-column h-100 w-100">
    <header class="d-flex align-items-center nav-title-container">
        <div class="d-flex flex-grow-1 align-items-center nav-header-item">
            <label for="" class="nav-header-icon invisible">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </label>
            <span class="nav-header-text flex-grow-1 flex-shrink-0">Frontend Tasks</span>
        </div>
    </header>
    <section class="d-flex flex-column justify-content-between overflow-hidden flex-grow-1">
        <ul class="flex-grow-1 nav-list overflow-auto-y overflow-hidden-x">
            <li *ngFor="let feature of this.features" class="nav-item">
                <a [routerLink]="feature.routePath" routerLinkActive="active"
                    class="d-flex align-items-center nav-link overflow-hidden">
                    <div [ngClass]="['icon', feature.icon]"></div>
                    <div class="nav-link-text flex-grow-1 flex-shrink-0">{{ feature.dispName }}</div>
                </a>
            </li>
        </ul>
        <footer>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="d-flex align-items-center nav-link overflow-hidden">
                <div [ngClass]="['icon', 'icon-log-out']"></div>
                <div class="nav-link-text flex-grow-1 flex-shrink-0">Log Out</div>
            </a>
        </footer>
    </section>
</aside>