<aside class="d-flex flex-column h-100 w-100">
    <header class="d-flex align-items-center nav-title-container">
        <div class="d-flex flex-grow-1 align-items-center nav-header-item">
            <div for="" class="nav-header-icon invisible">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </div>
            <h4 class="nav-header-text flex-grow-1 flex-shrink-0">Frontend Tasks</h4>
        </div>
    </header>
    <div class="d-flex flex-column flex-grow-1 nav-container overflow-auto-y overflow-hidden-x">
        <section class="d-flex align-items-center user-section">
            <div class="avatar sidenav-avatar flex-shrink-0">
                <figure>
                    <img src="../../../assets/images/avatar.png" alt="">
                </figure>
            </div>
            <div class="flex-grow-1 user-section-text flex-shrink-0">
                <div class="user-name">
                    Mr. Einstein
                </div>
                <div class="user-email">
                    mr.einstein@1rivet.com
                </div>
            </div>
        </section>
        <section class="d-flex flex-column justify-content-between nav-section"
            *ngFor="let feature_section of features">
            <ul class="flex-grow-1 nav-list gutter-stable">
                <li *ngFor="let feature of feature_section" class="nav-item">
                    <a [routerLink]="feature.routePath" routerLinkActive="active"
                        class="d-flex align-items-center nav-link">
                        <div [ngClass]="['icon', feature.icon]"></div>
                        <div class="nav-link-text flex-grow-1 flex-shrink-0">{{ feature.dispName }}</div>
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <footer>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            class="d-flex align-items-center nav-link overflow-hidden">
            <div [ngClass]="['icon', 'icon-log-out']"></div>
            <div class="nav-link-text flex-grow-1 flex-shrink-0">Log Out</div>
        </a>
    </footer>
</aside>