<aside class="d-flex flex-column h-100">
    <header class="d-flex align-items-center title-container">
        <label for="sidenav-checkbox" class="checkbox-label">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </label>
        <span class="title-text flex-shrink-0">Frontend Tasks</span>
    </header>
    <section class="d-flex flex-column justify-content-between overflow-auto-y overflow-hidden-x flex-grow-1 w-100">
        <ul class="flex-grow-1 nav-list">
            <li *ngFor="let feature of this.features" class="nav-item">
                <a [routerLink]="feature.routePath" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="d-flex flex-nowrap align-items-center nav-link">
                    <div [ngClass]="['icon', feature.icon]"></div>
                    <div class="nav-link-text flex-shrink-0">{{ feature.dispName }}</div>
                </a>
            </li>
        </ul>
        <footer>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="d-flex flex-nowrap align-items-center nav-link">
                <div [ngClass]="['icon', 'icon-log-out']"></div>
                <div class="nav-link-text flex-shrink-0">Log Out</div>
            </a>
        </footer>
    </section>
</aside>