//Styles for buttons.
$btns: "primary", "secondary", "danger";

.btn {
    height: 40px;
    padding: 0 2rem;
    font-size: 0.825rem;
    border: none;
    color: map-get($map: $theme-colors, $key: "btn-primary");
    border-radius: $border-radius;
    cursor: pointer;
    transition: all .3s;

    @each $btn in $btns {
        &-#{$btn} {
            background-color: map-get($map: $theme-colors, $key: #{$btn});

            &:hover {
                background-color: scale-color(map-get($map: $theme-colors, $key: #{$btn}), $lightness: -10%);
            }
        }
    }
}
