// Card styles goes here
.card-row {
    margin-left: -1rem;

    .card-wrapper {
        width: 25%;
    }

    .card {
        background-color: $white;
        border-radius: $border-radius;
        padding: 1rem;
        margin-left: 1rem;
        box-shadow: 0 0 30px 5px #dedede;
    }
}

.file-view-overlay-backdrop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(10px);
}
