.list {
    &-item {
        margin-bottom: 1rem;
        padding: 0.75rem 1.5rem;
        background-color: $white;
        border-radius: $border-radius;
        box-shadow: 0 0 30px 5px #dedede;
    }
}