<div class="d-flex flex-column employee-form overflow-auto w-100 h-100">
    <div class="d-flex align-items-center main-content-title">
        Employee Details
    </div>
    <form class="form" [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="d-flex flex-column input-div">
                <label for="fname">First Name: </label>
                <input class="flex-grow-1 input-field" type="text" formControlName="fname" id="fname">
            </div>
            <div *ngIf="getControl('fname')?.touched || this.submitted">
                <div class="err-div" *ngIf="getControl('fname')?.errors?.['required']">
                    This Field is Required
                </div>
            </div>
            <div class="d-flex flex-column input-div">
                <label for="lname">Last Name: </label>
                <input class="flex-grow-1 input-field" type="text" formControlName="lname" id="lname">
            </div>
            <div *ngIf="getControl('lname')?.touched || this.submitted">
                <div class="err-div" *ngIf="getControl('lname')?.errors?.['required']">
                    This Field is Required
                </div>
            </div>
            <div class="d-flex flex-column input-div">
                <label for="email">Email Id: </label>
                <input class="flex-grow-1 input-field" type="email" formControlName="emailId" id="emailId">
            </div>
            <div *ngIf="getControl('emailId')?.value.toString().length">
                <div class="err-div" *ngIf="getControl('emailId')?.errors?.['pattern']">
                    Please enter valid email id
                </div>
            </div>
            <div class="d-flex flex-column input-div">
                <label for="mobile">Mobile Number: </label>
                <input class="flex-grow-1 input-field" type="text" formControlName="mobile" id="mobile">
            </div>
            <div *ngIf="getControl('mobile')?.touched || this.submitted || getControl('mobile')?.value.length">
                <div class="err-div" *ngIf="getControl('mobile')?.errors?.['required']">
                    This Field is Required
                </div>
                <div class="err-div" *ngIf="getControl('mobile')?.errors?.['maxlength']">
                    Mobile Number should be atmost 10 digits long
                </div>
                <div class="err-div" *ngIf="getControl('mobile')?.errors?.['minlength']">
                    Mobile Number should be atleast 10 digits long
                </div>
            </div>
            <div class="d-flex flex-column input-div">
                <label for="gender">Gender: </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="gender" id="male" value="male">
                    <label class="form-check-label" for="male">Male</label>
                    <input class="form-check-input" type="radio" formControlName="gender" id="female" value="female">
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
            <div class="d-flex flex-column input-div">
                <label for="emp-date">Date of Employment: </label>
                <input class="flex-grow-1 input-field" type="date" formControlName="empdate" id="empdate">
            </div>
            <div class="d-flex flex-column input-div">
                <label for="dept">Department: </label>
                <select class="flex-grow-1 input-field" formControlName="dept" id="dept">
                    <option value="0" selected d-none disabled>Select Department</option>
                    <option *ngFor="let dept of this.departmentOptions" [value]="dept.id">{{ dept.name }}</option>
                </select>
            </div>
            <div class="input-div"></div>
            <div class="input-div"></div>
            <div class="d-flex input-div">
                <button class="btn btn-secondary" type="button" routerLink="/crud-operation/emplist">Return To List</button>
            </div>
            <div class="input-div"></div>
            <div class="d-flex justify-content-around input-div">
                <button class="btn btn-danger" type="button" (click)="onReset()">Reset</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
