<form class="form" [formGroup]="empForm" (ngSubmit)="onSubmit()">
    <legend class="form-title"><strong>Employee Details</strong></legend>
    <div class="input-div">
        <label for="fname">First Name: </label>
        <input class="inp-field" type="text" formControlName="fname" id="fname">
    </div>
    <div class="err-div" *ngIf="this.empForm.get('fname')?.touched && this.empForm.get('fname')?.errors?.['required']">This Field is Required</div>
    <div class="input-div">
        <label for="lname">Last Name: </label>
        <input class="inp-field" type="text" formControlName="lname" id="lname">
    </div>
    <div class="err-div" *ngIf="this.empForm.get('lname')?.touched && this.empForm.get('lname')?.errors?.['required']">This Field is Required</div>
    <div class="input-div">
        <label for="email">Email Id: </label>
        <input class="inp-field" type="email" formControlName="emailId" id="emailId">
    </div>
    <div class="input-div">
        <label for="mobile">Mobile Number: </label>
        <input class="inp-field" type="text" formControlName="mobile" id="mobile">
    </div>
    <div class="input-div">
        <label for="gender">Gender: </label>
        <input class="inp-field" type="radio" formControlName="gender" id="male" value="male">
        <label for="male">Male</label>
        <input class="inp-field" type="radio" formControlName="gender" id="female" value="female">
        <label for="female">Female</label>
    </div>
    <div class="input-div">
        <label for="emp-date">Date of Employment: </label>
        <input class="inp-field" type="date" formControlName="empdate" id="empdate">
    </div>
    <div class="input-div">
        <label for="dept">Department: </label>
        <select class="inp-field" formControlName="dept" id="dept">
            <option value="0" selected hidden disabled>Select Department</option>
            <option *ngFor="let dept of this.departmentOptions" [value]="dept.id">{{ dept.name }}</option>
        </select>
    </div>
    <button class="btn submit-btn" type="submit">Submit</button>
    <button class="btn reset-btn" type="button" (click)="onReset()">Reset</button>
</form>