{{ empForm.value | json }}

<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="fname">First Name: </label>
        <input type="text" formControlName="fname" id="fname">
    </div>
    <div>
        <label for="lname">Last Name: </label>
        <input type="text" formControlName="lname" id="lname">
    </div>
    <div>
        <label for="email">Email Id: </label>
        <input type="email" formControlName="emailId" id="emailId">
    </div>
    <div>
        <label for="mobile">Mobile Number: </label>
        <input type="text" formControlName="mobile" id="mobile">
    </div>
    <div>
        <label for="gender">Gender</label>
        <div>
            <div>
                <input type="radio" formControlName="gender" id="male" value="male">
                <label for="male">Male</label>
                <input type="radio" formControlName="gender" id="female" value="female">
                <label for="female">Female</label>
            </div>
        </div>
    </div>
    <div>
        <label for="emp-date">Date of Employment</label>
        <input type="date" formControlName="empdate" id="empdate">
    </div>
    <div>
        <label for="dept">Department</label>
        <select formControlName="dept" id="dept">
            <option value="0" selected hidden disabled>Select Department</option>
            <option value="1">Frontend</option>
            <option value="2">Backend</option>
            <option value="3">DataBase</option>
            <option value="4">QA</option>
        </select>
    </div>
    <button type="submit">Submit</button>
    <button type="button" (click)="onReset()">Reset</button>
</form>