@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

* {
    vertical-align: top;
}

.padding {
    padding: 20px 0px;
}

h4 {
    margin: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

html {
    font-family: 'Source Serif Pro';
    font-style: normal;
    text-align: left;
}