// imports Poppins font from google fonts.
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

// Common styles
@import "./assets/scss/base/index";

// Project Specific Components
@import "./assets/scss/component/index";

// layouts like sidebar, etc.
@import "./assets/scss/layout/index";

body {
    color: #1a1a1c;
}

////////////////////////////////////////////////////////////////////////
// START: app.component + navbar.component (They are connected)
.main-content {
    background-color: #f7f8fa;
}
// END: app.component
////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////
// START: employee-list-view.component
.employee-list-view, .employee-form {
    padding: 0 2rem;
}

.main-content-title {
    font-size: 1.5rem;
    .title-text {
        font-weight: 500;
    }
    padding: 16px;
    height: 62px;
}

.head {
    padding-bottom: 1.75rem;
    .search-icon-field {
        width: 50px;
        height: 40px;
        font-size: 1.25rem;
        color: #b5b5b5;
        background-color: #fff;
        border: $border-main;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: {
            left: 1rem;
            right: 0.75rem;
        }
    }

    #search-input {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: #b5b5b5;
        padding-left: 0;
        width: 225px;

        &:focus {
            width: 500px;
            outline: 0;
            box-shadow: none;
            border-color: $border-color;
        }
    }
}

.edit,
.delete {
    &-employee-link {
        margin: 0 2px;
        padding: 4px 8px;
        border-radius: 4px;
        height: fit-content;
    }
}
// END: employee-list-view.component
////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////
// START: employee-form.component
.employee-form {
    .form {
        width: 100%;

        .input-div {
            width: 30%;
        }
    }
}

.edit-employee-link,
.delete-employee-link {
    padding: 0.5rem;
}
// END: employee-form.component
////////////////////////////////////////////////////////////////////////
