/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    overflow: hidden;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.pad2r {
    padding: 2rem;
}

.pad2pr {
    padding: 2%;
}

.bg-pink-op50 {
    background-color: rgba(255, 192, 203, 0.5);
}

.txt-1-5r {
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

.btn {
    margin-top: 10px;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    border: none;
    color: white;
    border-radius: 0.25rem;
}

.btn-primary {
    background-color: #277DA1;
}

.btn-danger {
    background-color: #B7181B;
}