<div class="parent border">
    <div>
        <div class="input-div">
            <label for="text">From parent to child:- </label>
            <input class="input-field" type="text" name="toParent" (input)="passValueToChild(this.textP.value)" #textP placeholder="Illustrate parent to child data binding">
        </div>
        <p>Value from child:- "{{ this.valueFromChild }}"</p>
        <div>
            <!-- [] indicates that data is passed on to the child -->
            <!-- () indicates that thsi parent component listens to fromChild event (EventEmitter) -->
            <app-child [fromParent]="toChild" (fromChild)="getValueFromChild($event)"></app-child>
        </div>
    </div>
    <div class="input-div">
        ngModel:- <input class="input-field" type="text" [(ngModel)] = "val_ngModel" placeholder="Illustrate the use of ngModel">
        <div>
            {{ val_ngModel }}
        </div>
    </div>

    <!-- property binding -->
    <div [class]="{'d-none': !isVisible}">
        {{isVisible}}
    </div>
    <button class="btn btn-primary" (click)="toggleVisibility()">Show</button>
</div>