<form class="form" [formGroup]="demoForm" (ngSubmit)="showData()">
  <div class="form-title">
    Reactive form
  </div>
  <div class="input-div">
    <label for="fullName">Name:</label>
    <input class="input-field" type="text" formControlName="fullName" id="fullName">
  </div>
  <div class="input-div">
    <label for="email">Email:</label>
    <input class="input-field" type="text" formControlName="email" id="email">
  </div>
  <div class="input-div">
    <label for="message">Message:</label>
    <input class="input-field" type="text" formControlName="message" id="message">
  </div>
  <div class="input-div">
    <label for="mobile">Mobile Number:</label>
    <input class="input-field" type="text" appPhoneMask formControlName="mobile" id="mobile">
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>